body{
  background: url(/images/stars-bkgd.jpg) no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar, .navbar-expand-lg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
}
.container {
  margin-bottom: 2rem;
}
.container:first-of-type {
  margin-top: 60px;
}
.bkgd-white{
  background-color: #fff;
  opacity: 0.85;
}
.list-group-item {
  line-height: 2.5;
}
.centered {
  position: relative;
  margin: auto;
  text-align: center;
}
.align-right {
  position: absolute;
  right: 1rem;
  text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  margin-top: 1.5rem;
  font-weight: 500;
  color: rgb(22, 103, 133);
  text-align: center;
}
h4 {
  margin-top: 1rem;
}
.bg-primary {
  background-color: #27A9DA!important;
}
.btn-primary {
  background: #27A9DA;
  border: none;
  margin-bottom: 20px;
}
.btn-primary:hover {
  background: rgb(22, 103, 133);
}
.alert-primary {
  background: rgb(212, 236, 245);
  color:  rgb(22, 103, 133);
}
.top-bottom-pad {
  padding: 20px 0;
}
.card-margin {
  margin-left: 20px;
  margin-right: 20px;
}
.review {
  float: right;
  margin-right: 20px;
}
.watched {
  margin-right: 10px;
}
.list-group-item:last-child {
  margin-bottom: 15px;
}
.list-group-item p {
  line-height: 2rem;
}
.float-left {
  float: left;
  margin-right: 30px;
}
.constrain {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

/* media queries */
@media screen and (max-width: 640px) {
  .nav-item {
    background-color: #343A40 !important;
  }
  .list-group-item p {
    line-height: 1.5rem;
  }
  .float-left {
    float: left;
    margin-right: 20px;
  }
  .constrain {
    max-width: 100%;
  }
  
}